.container {

}

.list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: linear-gradient(black, darkred);
}
.item{
  width: 200px;
  height: 500px;
  padding: 0 0 70px 0;
  margin: 0 10px;
}