.wrapper {

}

.header {
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
}

.image {
    width: 200px;
    height: 300px;
}

.image:hover {
    opacity: .6;
}

.desc {
    font-size: 15px;
    font-family: "Droid Sans", sans-serif;
    color: antiquewhite;
    margin: 0;
}

.genre {
    margin: 5px;
    font-size: 14px;
    font-family: Didot, sans-serif;
    color: antiquewhite;
}